<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>url shortener</title>
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      form#shortenForm {
        max-width: 400px;
        margin: auto;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      form#logoutForm {
        margin: auto;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      button {
        padding: 10px 15px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #4cae4c;
      }

      form#logoutForm button {
        background-color: tomato;
      }

      p {
        margin: 10px 0;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <form action="/shorten" method="POST" id="shortenForm">
      <label for="url">Enter URL:</label>
      <input type="text" id="url" name="url" required />
      <button type="submit">Shorten</button>
    </form>

    <% if (shortenedUrl) { %>
    <p>Shortened URL: <a href="<%= shortenedUrl %>"><%= shortenedUrl %></a></p>
    <% } %> <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>
    <p><a href="/shorten/urls">View Your URLs</a></p>
    <form action="/logout" method="post" id="logoutForm">
      <button type="submit">Sign Out</button>
    </form>
  </body>
</html>
